{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}

{% block content %}

    <form method="POST" action="/auth/signup"> {% csrf_token %}
        <h3>
            
            <div>
                {% for message in messages %}
      
                     <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    </div>
      
                {% endfor %}
              <label>Sign Up</label><br><br>
            </div>
        
            <label for="email" name="email">Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="email" name="email" style="border-radius: 25px; border: 0; border-color: white;" required><br><br>
        
            <label for="password">New Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password"name="password" style="border-radius: 25px; border: 0;" required ><br><br>
        
            <label for="cpassword">Conform Password</label>
            <input type="password" name="cpassword" style="border-radius: 25px; border: 0;" required><br><br>
        
            
        
            <button type="submit" class="btn btn-dark">Signup</button><br><br>
             Already User? <a href="/auth/login">Login</a>
        
        
        
        </h3>
    </form>

{% endblock content %}